*,*::after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: arial sans-serif;
    font-size: 25px;
    margin-top: 3rem;
    color: rgb(0, 0, 0);
    height: 100vh;
    background: slategray;
}
h1{
    color: #000;
    font-size: 50px;
}
.logo i{
    font-size: 60px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 500px;
    padding: 30px;
    background: white;
    border-radius: 5px;
}
#showImg{
    display: block;
    max-width: 450px;
    min-height: 250px;
    background: rgb(150, 147, 191);
    margin: 0 auto;
    border-radius: 5px;
}
img{
    width: 100%;
    height: 100%;
}
.button{
    display: flex;
}
button,.upload{
    width: 220px;
    margin: 50px 20px 10px 20px;
    text-align: center;
    position: relative;
    padding: 10px 5px;
    font-size: 16px;
    background-color: blue;
    color: white;
    display: block;
    border-radius: 5px;
    outline: none;
}
input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}
.upload{
    background-color: red;
}

@media screen
    and (max-device-width: 640px){
    h1{
        font-size: 20px;
    }
    .container{
        width: 100%;
        padding: 10px;
        margin-top: 50px;
    }
    button,.upload{
        width: 400px;
        font-size: 10px;
        padding: 10px 20px;
        margin: 50px 20px 10px 15px;
    }
}
